<div class=menu-panel>

	<ul>
	
		<li><a href="/users">USERS</a></li>
		<li><a href="/calendar">ORGANIZATIONS</a></li>
		<li><a href="/organisations">POSTS</a></li>
		<li><a href="/contributors">EVENTS</a></li>
		<li><a href="/categories">CATEGORIES</a></li>
	
	</ul>
		
</div>

<div class=clear>
</div>