<div class=menu-panel>

	<ul>
	
		<li><a href="/manage/users">USERS</a></li>
		<li><a href="/manage/organisations">ORGANIZATIONS</a></li>
		<li><a href="/manage/posts">POSTS</a></li>
		<li><a href="/contributors"></a></li>
		<li><a href="/categories"></a></li>
	
	</ul>
		
</div>

<div class=clear>
</div>