<div class="approve_<%= @user.id %>">

<%	url= "/approve/" +  @user.id.to_s	%>
<%= form_for(@user, :url => url,
             html: { method: :post }, class: 'approve',
             remote: true) do |f| %>
      <% if @user.role==7 then %>
          <%= f.submit 'Disapprove', class: "Contributor btn btn-warning" %>
      <% else %>
          <%= f.submit 'Approve', class: "Contributor btn btn-success" %>
      <% end %>



<% end %>
</div>