<div class=links>
	<div class=title>FOLLOWERS (<%= @user.followers.length %>)</div>
		<div class=content>
			
			<% first_time = 0 %>
			
			<% @user.followers.each do |follower| %>
			
				<div class=event>
					
					<div class=event-title>
						<%= follower.name %>
					 </div>
					<div class=event-address>
						<%= follower.city %>
					</div>
				</div>
			
			<% end %>
		</div>

	</div>