<style>
.categories {
position:absolute;
width:100%;
z-index:9999;
background: rgba(255,255,255,0.95);
overflow:hidden;
display:none;
border-bottom: 1px solid lightgray;
}
.categories ul li {
float:left;
padding:10px 20px;
font-family: 'Maven Pro', sans-serif;
font-size: 16px;
}
.categories a {
text-decoration:none;
color:#399;
font-family: 'Maven Pro', sans-serif;
font-size: 16px;
}
.categories a:hover {
text-decoration:underline;
color:red;
}
</style>
<script>
$(document).ready(function () {

$(".news-button").hover(function () {
$(".categories").show();
$(".categories").stop().animate({height: '40px'});
}, function () {
$(".categories").stop().animate({height: '0'});
//$(".categories").hide();
});
$(".categories").hover(function () {
$(".categories").stop().animate({height: '40px'});
}, function () {
$(".categories").stop().animate({height: '0'});
});


});
</script>

<div class=categories>
<ul>
<li>Categories: </li>
<% all_categories.each do |category| %>
<li>
	
	<a href='<%= url_for(category) %>'>
								<%= category.name %>
						</a>
	
</li>

<% end %>
</ul>
</div>