<% if user_signed_in? then %>

<div class=control-panel>
	<div class=wrap>
                <ul>
                    <li><a href="/posts/new">New Post</a></li>
                    <li><a href="/events/new">New Event</a></li>
<!--                    <li><a href="#" class=post-call>Post</a></li> -->
					<li id=helper></li>
					<li>
					<% if current_user.id == 1 then %>
					
						<a class=width></a>
						<script>
							$(document).ready(function () {
								$(".width").text($(document).width() + "/" + $(window).width());
							});
						</script>
					
					<% end %>
					</li>
                </ul>

                <ul>
                    <li><a href="#"><%= current_user.name %></a></li>
                    <li><a href="/profile">Profile</a></li>
					<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                </ul>

	</div>
</div>

<% else %>

<div class=control-panel>
	<div class=wrap>


                <ul>
                    <li><a href="#login" class=login-button>Login</a></li>
                    <li><%= link_to('Register', new_user_registration_path)  %></li>
                </ul>

	</div>
</div>

<% end %>