<%

feed = []

if params[:feed] then
	feed_param = params[:feed]
else
	feed_param = 100
end

feed[feed_param]="active"

%>

<div class=left-menu>
<!--	<div class=title>ALL NEWS FEED</div> -->
		<ul>
		<li class=<%= feed[0] %>><a href="/">ALL NEWS FEED</a></li>
		<li class=<%= feed[3] %>><a href="/feed">YOUR NEWS FEED</a></li>
		<li class=<%= feed[1] %>><a href="/organizations_feed">ORGANISATIONS FEED</a></li>
		<li class=<%= feed[2] %>><a href="/contributors_feed">CONTRINUTORS FEED</a></li>
		
		<div class=content>

		</div>
	</div>