<div class=links>
	<div class=title>LINKS</div>
		<div class=content>
			
			<% first_time = 0 %>
			
			<% @attachments.each_with_index do |attachment, i| %>
				
				<% break if i == 5 %>
				<a href="<%= url_for attachment.post %>">
					
							<div class=thumb-pic style="background:url('<%= attachment.pic.url(:thumb) %>');">&nbsp;</div>
					
				</a>
			
			<% end %>
			
			Read more ..
		</div>

	</div>