<div class=logo-space>
	<% if user_signed_in? then %>
		<%= link_to ' ', {:controller => 'home', :action => 'index'}, :class => 'home-link' %>
	<% else %>
		<%= link_to ' ', '/', :class => 'home-link' %>
		
	<% end %>
	<div class=wrap>
		<div class=hide-left>
		</div>
		<div class=hide-right>
		</div>
		<div class=clear>
		</div>
	</div>
</div>