<div class=menu-panel>

	<ul>
	
		<li class=news-button><a href="/">NEWS</a></li>
		<li><a href="/calendar">CALENDAR</a></li>
		<li><a href="/organisations">ORGANISATIONS</a></li>
		<li><a href="/contributors">CONTRIBUTORS</a></li>
		<li><a href="/neighborhoods">NEIGHTBORHOODS</a></li>
	
	</ul>

</div>
