<div class=slideshow>



<!--<div class=clouds>
		<div class=hide-left>
		</div>
		<div class=hide-right>
		</div>
		<div class=clear>
		</div>
</div>-->
<script>
$(document).ready(function () {
	
	$(".slide-pic").hover(function () {
		$(this).find("span").slideDown();
		$(this).find("span").fadeIn();
		
	},function () {
		
		$(this).find("span").slideUp();
		$(this).find("span").fadeOut();
		
	});

});
</script>
<style>
.slide-pic {
position:relative;
overflow:hidden;
display:block;
}
#items li span {
width:160px;
padding: 5px 10px;
left:0px;
display:none;
background:rgba(180,16,32,0.9);
bottom:0px;
position:absolute;
z-index: 9999;	
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
}

</style>

 <div id="featured">

			
 
		<ul id="items">
		<% @randoms.each do |attachment| %>
        	<li>
                <a class=slide-pic2 href="#"><div class=slide-pic style="background:url('<%= attachment.pic.url(:slide) %>');">
				<span><strong>
				<% if attachment.post then %>
				<%= attachment.post.title.slice(0..30) %>...
				<% else %>
					no views yet
				<% end %> 
				
				</strong><em>
				
				<% if attachment.post then %>
					<%= attachment.post.views %> views
				<% else %>
					no views yet
				<% end %> 
				</em><div class="likes">15 likes</div></span>
				</div>
                
                </a>
            </li>
		<% end %>
        </ul>
        <div class="clrflt"></div>
    </div>

</div>