
 
	<div class=left-menu>
	<div class=title>YOUR NEWS FEED</div>
		<a href="/my-feed">YOUR NEWS FEED</a>
		<a href="/all-feed">ALL NEWS FEED</a>
		<a href="/organisations-feed">ORGANISATIONS FEED</a>
		<a href="/contributors-feed">CONTRINUTORS FEED</a>
		
		<div class=content>

		</div>
	</div>
	
	<div class=body>
	<!-- BODY -->
	
	<%= render 'posts' %>
	</div>
	<%= render 'events' %>
	<%= render 'links' %>



