<div class=events>
	<div class=title>SHARE THIS ARTICLE</div>
		<div class=content>
			
			<iframe src="//www.facebook.com/plugins/like.php?href=<%= post_path(@post, :only_path => false) %>&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90&amp;appId=150412045024626" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:90px;" allowTransparency="true"></iframe>
			
			<!-- Place this tag where you want the +1 button to render -->
			<g:plusone size="tall"></g:plusone>

			<!-- Place this render call where appropriate -->
			<script type="text/javascript">
			  (function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>





		</div>

	</div>