<div class=events>
	<div class=title>SHARE THIS ARTICLE</div>
		<div class=content>
			
			<iframe src="//www.facebook.com/plugins/like.php?href=<%= post_path(@post, :only_path => false) %>&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90&amp;appId=150412045024626" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:90px;" allowTransparency="true"></iframe>
		</div>

	</div>